<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" type="text/css" media="screen" href="style.css" /> 
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/app.js"></script>
		<title>NPR News Scraper</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>